@charset "UTF-8";

body {
    background-image: linear-gradient(to right, #0064FA, #2368CF, #3763A5, #3D567A, #3D567A);
}

main {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    width: 600px;
    padding: 20px;
    margin: auto;
    color: #002b6b;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3d567a;
}

h1{
    color: #014fc5;
    text-align: center;
    text-shadow: 1px 1px 1px black; 
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;

    /* Shorhand Font
    Font Styçe -> Font Weith -> Font Size -> Font Family
    */
}

p {
    text-indent: 30px; /* Texto ir um pouco para direita. */
}

/* Só podemos usar um elemento com ID. */
h3#id{
    background-color: #002b6b; /* Cor de fundo */
    color: white; /* Cor do texto. */
}

/* Podemos ter vários class. */
.class{
    background-color: #374e70;
    color: white;
}

div {
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    height: 150px;
    width: 150px;
}

div:hover {
    background-color: #374e70;
}

/* Modelo de Caixas
Padding 
Border  
Margin  
*/

/* Pseudo Elementos
:visited
:active
::before
::after
...
*/
